/*
    ATTENTION
    =========
    /blade-views/partials/grid-property.blade.php

    This partial controls the display of property
    data within the grid search results.
*/

@use "../abstracts/colors" as c;

.property-grid {
    position: relative;
    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 0 9px lighten(c.$black, 85%);
    }
    &.property--featured {
        background-color: rgba(c.$yellow, 0.3);
    }

    .card-img-top {
    }

    .property__meta {
        .property__address {
        }

        .property__price {
        }

        .property__summary {
        }

        .property__rooms {
            list-style: none;
            padding: 0;
        }
    }
}
