/*
    ATTENTION
    =========
    /blade-views/partials/search-results-corner-flash.blade.php

    A universal include file used across multiple
    templates.
*/

@use "../abstracts/colors" as c;

.property__corner-flash {
    position: absolute;
    z-index: 1;
    border-radius: 50px;
    padding: 0.5rem;
    background-color: var(--e-global-color-primary);
    color: c.$white;
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    margin: 10px;
}
